@font-face
	{
		font-family: Dancing_script;
		src: url(DancingScript-Regular.otf);
	}

body
	{
		font-family: Dancing_script;
		background-color: #02010a;
		max-width: 900px;
	}

#EncabezadoDePagina
	{
		background: #5b7989;
		height: 100%;
		color: white;
		text-shadow: 2px 2px #02010a;
	}

#Pagina
	{				
		width: 100%;
		clear: both;
		margin: auto;
		border-radius: top 10px, bottom 10px;
	}

/*Cabecera:
    Esta sección debe contener la información del sitio, toma en cuenta lo siguiente: 
    Establece el fondo de color #5b7989.
    Agrega el Nombre del sitio "Comenzando con la fotografía" ubicado al lado izquierdo, en blanco la letra debe tener una sombra de 2px de color #02010a. 
    Aplica bordes redondeados en las esquinas superiores a 10px.
    Desarrolla un menú, para la versión desktop, a la derecha con enlaceas a tres páginas: Inicio, Paisajes, Retratos. La página actual debe tener estilo sin subrayado.
Imagen Central
	En esta sección debes ubicar una imagen de tu preferencia, considera lo siguiente: 
	Esta secccion debe tener la imagen centrada.
    Establece como color de fondo #82c3a6.
Imagen Secundaria:
    En esta sección debes ubicar dos imágenes de tu preferencia, debajo de la imagen central una a la derecha y otra a la izquierda ten en cuenta lo siguiente:
    Esta sección es a dos columnas usando flex para desktop y una columna para móvil 
    Aplica como color de fondo #d5c75f y un borde de 1px.
    Cada columna debe tener una imagen centrada y enlazar: la izquierda "paisajes" aplica un efecto de rotación de 10 grados cuando se coloca el puntero sobre ella, 
    agrega color de sombra #82c3a6 y borde 2px y la derecha "retratos" aplica un efecto de traslación de 5px hacia arriba y 20px a la derecha cuando se coloca el puntero 
    del ratón sobre ella agrega color de sombra #82c3a6 y borde 2px.*/

nav
	{
		font-size: 1.5em;
		line-height: 30px;
		margin: 0.67cm 0cm 0.67cm 0cm;
		padding: 0;
	}

nav li
	{
		text-decoration: none;
		display: inline;
		padding: 5px;
	}

nav li a
	{
		text-decoration: none;
		color:white !important;
	}

nav li a.active
	{
		text-decoration: none;
	}

.foto
	{
		
		border: 2px;
		border-color:  #02010a;
	}

.encabezado
	{
		display: flex;
		flex-flow: row wrap;
  		border-radius: top 10px;
	}

.titulo
	{
	}

.menu
	{
	}

.contenedor 
	{
		margin-top: auto;
	 	width: 100%;
		display: flex;
		flex-flow: row wrap;
	}

.contenedor1
	{
  		background-color: #82c3a6;
	}
.contenedor2
	{
  		background-color: #d5c75f;
	}
.contenedor3
	{
  		background-color: #d5c75f;
	}
.contenedor4
	{
		display: flex;
		flex-wrap: wrap;
  		background-color: #d5c75f;
  		width: 100%;
	}
.contenedor5
	{
		display: flex;
		flex-wrap: wrap;
  		background-color: #d5c75f;
  		width: 100%;
	}

@media screen and (min-width: 900px)
	{
		.titulo
			{
				text-indent: 1cm;
				float: left;
				text-align: left;
				width: 50%;
			}
		.menu
			{
				float: right;
				text-align: right;
				width: 50%;
			}

		.contenedor1 
			{
				width: 100%;
			}
		.contenedor2 
			{
				width: 50%;
			}
		.contenedor3 
			{
				width: 50%;
			}
		
		.columna1
			{
				width: 25%;
			}
		.columna2
			{
				width: 25%;
			}
		.columna3
			{
				width: 25%;
			}
		.columna4
			{
				width: 25%;
			}

		.foto1
			{
				-webkit-filter: blur (10px);
				filter: blur(10px);
				width: 33%;
			}
		.foto2
			{
				border: 2px;
				border-color:  #02010a;
				-webkit-filter: grayscale (100%);
				filter: grayscale(100%);
				width: 33%;
			}
		.foto3
			{
				-webkit-filter: sepia (90%);
				filter: sepia(90%);
				width: 33%;
			}
		.foto4
			{
				-webkit-filter: grayscale (100%);
				filter: grayscale(100%);
				width: 33%;
			}
		.foto5
			{
				width: 33%;
			}
		.foto6
			{
				-webkit-filter: grayscale (100%);
				filter: grayscale(100%);
				width: 33%;
			}
}

@media screen and (max-width: 899px)
	{
		.titulo
			{
				text-align: center;
				width: 100%;
			}
		.menu
			{
				text-align: center;
				width: 100%;
			}

		.contenedor1 
			{
				width: 100%;
				order: 1;
			}	
		.contenedor2 
			{
				width: 100%;
				order: 2;
			}
		.contenedor3 
			{
				width: 100%;
				order: 3;
			}

		.pie_de_pagina
			{
				width: 100%;
			}
		.columna1
			{
				width: 100%;
				order: 1;
			}
		.columna2
			{
				width: 100%;
				order: 2;
			}
		.columna3
			{
				width: 100%;
				order: 3;
			}
		.columna4
			{
				width: 100%;
				order: 4;
			}

		.foto1
			{
				-webkit-filter: blur (10px);
				filter: blur(10px);
				width: 100%;
			}
		.foto2
			{
				-webkit-filter: grayscale (100%);
				filter: grayscale(100%);
				width: 100%;
			}
		.foto3
			{
				-webkit-filter: sepia (90%);
				filter: sepia(90%);
				width: 100%;
			}
		.foto4
			{
				-webkit-filter: grayscale (100%);
				filter: grayscale(100%);
				width: 100%;
			}
		.foto5
			{
				width: 100%;
			}
		.foto6
			{
				-webkit-filter: grayscale (100%);
				filter: grayscale(100%);
				width: 100%;
			}
	}


/*Pie de página:
    En esta sección debes ubicar información de contacto, términos, redes sociales, y derechos, aplica las siguientes consideraciones: 
    Aplica bordes redondeados en las esquinas inferiores a 10px.
    El pie debe estar a cuatro columnas en desktop y una columna en móvil.
    Aplica el color de fondo #C6d5c5.
    La columna de contacto debe contener un correo electrónico, una dirección física y un número telefónico. 
    En la columna de término agrega una frase corta referente a las políticas.
    En la columna de Redes Sociales, agrega tres de tu preferencia.
    En la columna de Derechos agrega tu nombre, apellido, el símbolo de CopyRight y el año actual.
*/
footer 
	{
	}
h3 a
	{
		text-decoration: none;
		color:black !important;
	}
h3, h4
	{
		padding: 0px 10px 0px 10px;
		font-weight: unset;
	}

#PieDePagina
	{
		clear: both;
		border-radius: bottom 10px;
	}

.pie_de_pagina
	{
		text-indent: 0.25cm;
		background-color: #C6d5c5;
		text-align: left;
		display: flex;
		flex-flow: row wrap;
	}